@import "../abstracts/variables";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.875rem 9.375rem;
    background-color: $dark-color;

    .navbar-social {
        a {
            cursor: pointer;
            
            &:not(:first-child) {
                margin-left: 1.5625rem;
            }
        }
    }
}