@import "../abstracts/variables";

.hero-title {
    margin-bottom: 3rem;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 6.25rem;
    line-height: 138.52%;

    color: $white-color;

    @media (max-width: 992px) {
        font-size: 4.5rem;
    }

    @media (max-width: 600px) {
        font-size: 3.5rem;
    }
}

.hero-subtitle {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 180.52%;

    letter-spacing: 0.15em;

    color: $white-color;

    @media (max-width: 992px) {
        font-size: 0.95rem;
    }

    @media (max-width: 600px) {
        font-size: 0.75rem;
    }
}

.hero-span {
    margin-right: 1.5rem;
}

.text-highlight {
    display: inline-block;

    margin-right: 1.5rem;
    padding: 0 1.8125rem;

    background-color: $primary-color;
    border-radius: 1rem;

    box-shadow: $box-shadow;

    transform: rotate(2.5deg);
    -ms-transform: rotate(2.5deg);
    -webkit-transform: rotate(2.5deg);
}