$primary-color: #6B63E8;
$white-color: #FFFFFF;
$dark-color: #1F1F1F;
$dark-color2: #212121;
$dark-color3: #2D2D2D;

$gray-color: rgba(131, 131, 131, 0.15);

$gradient-primary: linear-gradient(180deg, #9590EF 0%, #6B63E8 100%);
$gradient-border: linear-gradient(91.01deg, rgba(131, 131, 131, 0.15) 0%, #9590EF 100%);

$box-shadow: 0px 8px 24px rgba(255, 255, 255, 0.15);
$box-shadow-button: 0px 8px 24px rgba(255, 255, 255, 0.15), inset 0px -2px 20px rgba(255, 255, 255, 0.1)
